@import url('./main-layout.css');
@import url('./views/speisekarte-view.css');
@import url('./views/warenkorb-view.css');
@import url('./views/bestellungen-view.css');    html {
      --lumo-primary-color: hsl(214, 81%, 67%);
      --lumo-primary-color-50pct: hsla(214, 81%, 67%, 0.5);
      --lumo-primary-color-10pct: hsla(214, 81%, 67%, 0.1);

    }

    [theme~="dark"] {
      --lumo-body-text-color: hsla(214, 100%, 97%, 0.9);

    }
